@import url('../AddProduct/styled.css');

.container-addCart{
    background: peru;
    width: 90%;
}
.container-addCart--img{
    display: grid;
    grid-template-columns: auto auto 1fr;
    height: auto;
}


.img-productCardSmall{
    width:75px;
    height: auto;
    margin-right: 10px;
    margin-left: 16px;
}
.container-addCart--number{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: 2rem;
}