
.img-productCard{
    width:150px;
    margin-right: 10px;
}
/* .state-product{
    text-align: right;
    display: flex;
    margin-top: 10px;
} */
.price-product{
    margin-left: 20px;
}

.btn-agregar{
    background: #4ADE04;
    padding: 2px 8px;
    border-radius: 6px;
    font-weight: bold;
}