
.prodcut-card{
    padding: 1.2rem 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.322);
}

.product-card--img {
    width:150px;
    max-height: auto;
    object-fit: cover;
    margin-right: 10px;
    font-size: 1rem;
    text-align: center;
}
.product-card-container {
    width: 100%;

}
.price-product{
    margin-left: 20px;
}
.size-full {
    width: 100%;
    min-height: 8rem;
}
.btn-agregar{
    background: #4ADE04;
    padding: 2px 8px;
    border-radius: 6px;
    font-weight: bold;
}