
.shadow-component {
    box-shadow:  5px 5px 21px #dbd4c5,
    -5px -5px 21px #ffffff;
}

.product-card--img {
    /* width:100%; */
    max-height: auto;
    object-fit: cover;
    margin-right: 10px;
    font-size: 1rem;
    text-align: center;
}
.product-card-container {
    width: 100%;

}
.price-product{
    margin-left: 20px;
}
.size-full {
    width: 100%;
    min-height: 8rem;
}
.btn-agregar{
    background: #4ADE04;
    padding: 2px 8px;
    border-radius: 6px;
    font-weight: bold;
}