
.container-search--search{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 1.1rem;
    padding: 6px;
    color: black;
}
.search-clouse{
    position: absolute;
    top: -20px;
    right: -20px;
}