.container-addProduct{
    display: flex;
    place-items: center;
    text-align: center;
}
.icon-more{
    width: 32px;
    height: 32px;
    color: #4ADE04;
}
.addProduct-numberProduct{
    margin-bottom: -16px;
    margin-top:-10px;
}
.icon-dash{
    width: 32px;
    height: 32px;
    color: #B70707;
}