.container-cartCard{
    display: grid;
    grid-template-columns: auto 2fr 1fr 2fr;
    place-items: center;
}
.img-cartCard{
    width:75px;
    margin-right: 10px;
}
.cartCard-description{
    margin: 0px 10px;
    text-align: center;
}